.triggered-events
  %button{'ng-click' => 'showAll()'} All events
  %button{'ng-click' => 'showMine()'} My events

  %div{'ng-if' => 'triggeredEvents.length == 0 && allShowing'}
    No events are in the system
  %div{'ng-if' => 'triggeredEvents.length == 0 && !allShowing'}
    You have no claimed events

  %div{'ng-if' => 'triggeredEvents && triggeredEvents.length > 0'}
    %table
      %thead
        %th.type Event
        %th Date
        %th Address
        %th City
        %th State
        %th Zip
        %th
      %tbody
        %tr{'ng-repeat' => 'triggeredEvent in triggeredEvents'}
          %td.type {{ triggeredEvent.event_type }}
          %td {{ triggeredEvent.date_of_event }}
          %td {{ triggeredEvent.street_address }}
          %td {{ triggeredEvent.city }}
          %td {{ triggeredEvent.state }}
          %td {{ triggeredEvent.zip }}
          %td
            %button{'ng-click' => 'claim(triggeredEvent.id)', 'ng-if' => 'allShowing'}
              Claim
            %button{'ng-click' => 'takeAction(triggeredEvent.id)', 'ng-if' => '!allShowing'}
              Action

  %event-action

