.triggered-events
  .tab-group
    .tab{'ng-click' => 'showAll()', 'ng-class' => "{ 'active': allShowing }"}
      %p All events
    .tab{'ng-click' => 'showMine()', 'ng-class' => "{ 'active': !allShowing }"}
      %p My events

  .jumbo{'ng-if' => 'triggeredEvents.length == 0 && allShowing'}
    %p No events are in the system.
  .jumbo{'ng-if' => 'triggeredEvents.length == 0 && !allShowing'}
    %p You have no claimed events.

  %div{'ng-if' => 'triggeredEvents && triggeredEvents.length > 0'}
    %table
      %thead
        %th.type Event
        %th Date
        %th Address
        %th City
        %th State
        %th Zip
        %th.actions
      %tbody
        %tr{'ng-repeat' => 'triggeredEvent in triggeredEvents'}
          %td.type {{ triggeredEvent.event_type }}
          %td {{ triggeredEvent.date_of_event }}
          %td {{ triggeredEvent.street_address }}
          %td {{ triggeredEvent.city }}
          %td {{ triggeredEvent.state }}
          %td {{ triggeredEvent.zip }}
          %td.actions
            %button{'ng-click' => 'claim(triggeredEvent.id)', 'ng-if' => 'allShowing'}
              Claim
            %button{'ng-click' => 'takeAction(triggeredEvent.id)', 'ng-if' => '!allShowing'}
              Actions

  %event-action
