.ng-slide.slider{'ng-if' => 'showForm' }
  %div
    %label{for: :total_needed} Total needed
    %input{id: :total_needed, 'ng-model' => 'form.total_needed'}

  %div
    %label{for: :poc_name} Point of Contact
    %input{id: :poc_name, 'ng-model' => 'form.point_of_contact'}

  %div
    %label{for: :poc_phone} Phone
    %input{id: :poc_phone, 'ng-model' => 'form.phone'}

  %div
    %label{for: :deadline} Deadline
    %input{id: :deadline, 'ng-model' => 'form.deadline'}

  %div
    %label{for: :street_address} Street address
    %input{id: :street_address, 'ng-model' => 'form.street_address'}

  %div
    %label{for: :city} City
    %input{id: :city, 'ng-model' => 'form.city'}

  %div
    %label{for: :state} State
    %input{id: :state, 'ng-model' => 'form.state'}

  %div
    %label{for: :zip} Zip
    %input{id: :zip, 'ng-model' => 'form.zip'}

  %button{'ng-click' => 'submit()'} Submit
  %button{'ng-click' => 'cancel()'} Cancel

