.ng-slide.slider{'ng-if' => 'showForm' }
  .input-group
    %label{for: :total_needed} Total needed
    %input{id: :total_needed, 'ng-model' => 'form.total_needed', :autofocus => 'autofocus'}

  .input-group
    %label{for: :poc_name} Point of Contact
    %input{id: :poc_name, 'ng-model' => 'form.point_of_contact'}

  .input-group
    %label{for: :poc_phone} Phone
    %input{id: :poc_phone, 'ng-model' => 'form.phone'}

  .input-group
    %label{for: :deadline} Deadline
    %input{id: :deadline, 'ng-model' => 'form.deadline'}

  .input-group
    %label{for: :street_address} Street address
    %input{id: :street_address, 'ng-model' => 'form.street_address'}

  .input-group
    %label{for: :city} City
    %input{id: :city, 'ng-model' => 'form.city'}

  .input-group
    %label{for: :state} State
    %input{id: :state, 'ng-model' => 'form.state'}

  .input-group
    %label{for: :zip} Zip
    %input{id: :zip, 'ng-model' => 'form.zip'}

  .input-group
    %label{for: :status} Status
    %input{id: :status, 'ng-model' => 'form.zip'}

  .actions
    %button.cancel{'ng-click' => 'cancel()'} Cancel
    %button{'ng-click' => 'submit()'} Submit

