<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Vulnerable household, assistance needed</h1>
    <p>
      A situation has come up, and a household is in emminent danger
      of losing thier home and shelter and becoming homeless.

      This houshold is in your immediate neighborhood, and
      <%= @assistance_provider.name %> is the nearest partner that may
      be able to help. <%= @assistance_provider.name %> is the only
      one this request is going to. You are the first line of defense to
      stop this household from become homeless.
    </p>
  </body>
</html>
