<div class='triggered-events'>
  <button ng-click='showAll()'>All events</button>
  <button ng-click='showMine()'>My events</button>
  <div ng-if='triggeredEvents.length == 0 &amp;&amp; allShowing'>
    No events are in the system
  </div>
  <div ng-if='triggeredEvents.length == 0 &amp;&amp; !allShowing'>
    You have no claimed events
  </div>
  <div ng-if='triggeredEvents &amp;&amp; triggeredEvents.length &gt; 0'>
    <table>
      <thead>
        <th class='type'>Event</th>
        <th>Date</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat='triggeredEvent in triggeredEvents'>
          <td class='type'>{{ triggeredEvent.event_type }}</td>
          <td>{{ triggeredEvent.date_of_event }}</td>
          <td>{{ triggeredEvent.street_address }}</td>
          <td>{{ triggeredEvent.city }}</td>
          <td>{{ triggeredEvent.state }}</td>
          <td>{{ triggeredEvent.zip }}</td>
          <td>
            <button ng-click='claim(triggeredEvent.id)' ng-if='allShowing'>
              Claim
            </button>
            <button ng-click='takeAction(triggeredEvent.id)' ng-if='!allShowing'>
              Action
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <event-action></event-action>
</div>
