%header.flex
  %h1.logo Ruby Slippers

  %nav.flex
    %p
      = current_user.email
    %span &#124;
    %p
      = link_to 'Log Out', logout_path

%section
  %h2 Care Coordinator Dashboard

  -#= geo_chart QualifiedNeed.group(:zip).count, library: {region: 'US', resolution: 'provinces', displayMode: "markers"}


  -#= pie_chart({"Football" => 10, "Basketball" => 5})

  -#= line_chart(@all_events.map { |event|
  -#  {name: event.name, data: event.group_by_day(:created_at).count}
  -#}

  -#%event-map

  %care-coordinator


