%header.flex
  %h1 Ruby Slippers

  %nav.flex
    %p
      = current_user.email
    %span &#124;
    %p
      = link_to 'Log Out', logout_path

%section
  %h2 Care Coordinator Dashboard

  -#%event-map

  %care-coordinator


