
header {
    padding: 1rem;
    padding-left: 2rem;
    color: #f2f3f4;
    z-index: 10;
    position: relative;
    background-color: #083d77;
    border-bottom: 1px solid #f2f3f4;
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.25);
}
.wrapper {
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url("hero1.jpg");
    position: relative;
    section {
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .5))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .3)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
section {
    padding: 2rem;
    padding-left: 3.5rem;
    &.first {
        font-size: 1.25em;
        padding-top: 10%;
        color: #fff;
        h2 {
            font-size: 1.6em;
            padding-bottom: 0.5rem;
        }
        p {
            width: 48%;
            line-height: 1.5;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
        }
    }
    p {
        &:first-of-type {
            margin-bottom: 4rem;
        }
    }
}
nav {
    justify-content: flex-end;
    a {
        color: #fff;
    }
}
table {
    width: 100%;
}
tbody {
    tr {
        width: 100%;
        &:nth-child(odd) {
            background-color: #fff;
        }
        &:nth-child(even) {
            background-color: #efe;
        }
    }
}
th,
td {
    text-align: left;
    padding: 1rem;
}
th {
    font-size: 0.8em;
    padding: 0.25rem 1rem;
}
td {
    border-top: 1px solid #657;
    &.type {
        text-transform: capitalize;
        font-weight: 400;
    }
    &.actions {
    }
}
button {
    text-transform: capitalize;
    transition: background-color 250ms ease-in-out;
    font-size: 1em;
    border-radius: 0.25rem;
    border: 0;
    background-color: #083d77;
    padding: 0.5em 1em;
    color: #fff;
    &.cancel {
        background-color: #768;
        &:hover {
            background-color: lighten(#768, 15%);
        }
    }
    &:hover {
        background-color: lighten(#083d77, 15%);
    }
    &:focus {
        outline: none;
    }
}
label {
    color: #546;
    text-transform: uppercase;
    font-size: 0.8em;
}
.add-need {
    padding: 0.75em 1.25em;
    position: fixed;
    bottom: 2em;
    right: 2em;
}
