
header {
    padding: 1rem;
    padding-left: 2rem;
    color: #f2f3f4;
    z-index: 10;
    position: relative;
    background-color: #083d77;
    border-bottom: 1px solid #f2f3f4;
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.25);
}
section {
    padding: 2rem;
    padding-left: 3.5rem;
    &.first {
        min-height: 70vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        background-image: url("hero1.jpg");
        padding-top: 10%;
        color: #fff;
        p {
            width: 50%;
            font-size: 1.1em;
            line-height: 1.5;
            &.btn {
                text-align: right;
            }
        }
    }
    p {
        &:first-of-type {
            margin-bottom: 2rem;
        }
    }
}
nav {
    justify-content: flex-end;
    a {
        color: #fff;
    }
}
table {
    width: 100%;
}
tbody {
    tr {
        &:nth-child(odd) {
            background-color: #fef;
        }
        &:nth-child(even) {
            background-color: #efe;
        }
    }
}
th,
td {
    text-align: left;
    padding: 1rem;
}
th {
    font-size: 0.8em;
    padding: 0.25rem 1rem;
}
td {
    border-top: 1px solid #657;
    &.type {
        text-transform: capitalize;
        font-weight: 400;
    }
}
label {
    color: #546;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 0.25rem;
}
.add-need {
    position: fixed;
    bottom: 2em;
    right: 2em;
}
