
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    padding: 4rem;
    background-color: #def;
    border-bottom: 1px solid #456;
}
section {
    padding: 2rem 4rem;
}
