
@import "//fonts.googleapis.com/css?family=Muli:300,400|Roboto:300,400,700";

body {
    font-size: medium;
    background-color: #f3f6ef;
    @media (min-width: 1200px) {
        font-size: large;
    }
    @media (min-width: 1600px) {
        font-size: larger;
    }
    @media (min-width: 2000px) {
        font-size: x-large;
    }
}
nav {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6, th, label {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    b,
    strong {
        font-weight: 400;
    }
}
h1, h2, h3 {
    text-transform: uppercase;
}
h2, h3 {
}
h4 {
    font-weight: 400;
}
p, ul, ol, li, td {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    b,
    strong {
        font-weight: 700;
    }
}
p {
    a {
        padding-bottom: 0.2em;
        background-size: 1px 1px;
    }
}
input, textarea, select, button,
.title-bar {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
img {
    margin: auto;
    display: block;
    max-width: 100%;
}
a {
    text-decoration: none;
    &:hover,
    &:active {
        text-decoration: inherit;
    }
}
