
.first {
    background-color: #cde;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url("hero1.jpg");

    padding-top: 24%;
}
