
// fonts
@import "//fonts.googleapis.com/css?family=Muli:300,400|Roboto:300,400,700";
@import "//fonts.googleapis.com/css?family=Nothing+You+Could+Do";
@import "//fonts.googleapis.com/css?family=Source+Serif+Pro";
@import "//fonts.googleapis.com/css?family=Amaranth";

.muli {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}
.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.logo {
    font-family: 'Source Serif Pro', sans-serif;
}
.slab {
    font-family: 'Amaranth', sans-serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
.note {
    font-family: 'Nothing You Could Do', cursive;
    letter-spacing: 0.06em;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.slider {
    background-color: #fff;
    border-left: 1px solid #678;
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40vw;
    padding: 8rem 2rem 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    z-index: 5;
    .actions {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 1em;
        padding-bottom: 3em;
        flex-wrap: wrap;
        justify-content: center;
        > * {
            flex: 1;
            min-width: 40%;
            margin: 0 0.5em;
        }
    }
}
.input-group {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    label,
    input,
    textarea {
        padding: 0.5rem;
    }
    input,
    textarea {
        border: 0;
        background-color: #fff;
        transition: color 250ms ease-in-out,
                    background-color 250ms ease-in-out,
                    border-color 250ms ease-in-out;
        &:focus {
            outline: none;
            background-color: rgba(255, 232, 255, 0.5);
        }
    }
    input {
        font-size: 1.1em;
        border-bottom: 1px solid #768;
        &:focus {
            border-color: #083d77;
        }
    }
    textarea {
        font-size: 0.85em;
    }
}
.btn {
    a {
        white-space: nowrap;
        text-transform: capitalize;
        transition: background-color 250ms ease-in-out;
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
        font-size: 1em;
        border-radius: 0.25rem;
        border: 0;
        background-color: #083d77;
        padding: 0.5em 1em;
        color: #fff;
        &:hover {
            background-color: lighten(#083d77, 15%);
        }
    }
}


.jumbo {
    padding: 1em;
    p {
        color: #083d77;
        font-size: 1.25em;
        font-weight: 400;
    }
}
.tab-group {
    display: flex;
    padding: 1em 0;
    > * {
        + * {
            margin-left: 1em;
        }
    }
}
.tab {
    color: #675;
    padding: 0.5em;
    border: 1px solid;
    border-bottom: none;
    &:hover {
        cursor: pointer;
    }
    &.active {
        color: #083d77;
        background-color: #fff;
    }
    p {
        font-weight: 400;
        &:first-of-type {
            margin-bottom: 0;
        }
    }
}
.underline {
    padding-bottom: 0.25em;
    border-bottom: 1px solid;
    margin-bottom: 1em;
}
.card {
    padding: 1em;
    border: 1px solid;
    background-color: #fff;
    border-radius: 0.25rem;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.login {
    z-index: 20;
    position: absolute;
    padding: 1rem;
    top: 1rem;
    right: 1rem;
    width: 300px;
    background: #fff;
    .actions {
        text-align: right;
        margin-top: 1em;
    }
}
