
// fonts
.muli {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}
.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.slider {
    background-color: #fff;
    border-left: 1px solid #678;
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40vw;
    padding: 6rem 2rem 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
}
.input-group {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
}
// for links
/* .underline(@color: @colorLink) {
    background-image: linear-gradient(to bottom, darken(@color, 10%), transparent);
    background-repeat: repeat-x;
    background-size: 1px 2px;
    background-position: 0% 100%;
    &:hover {
        background-image: linear-gradient(to bottom, @color, transparent);
    }
} */
// flex
/* .flex(@flex-direction: row, @flex-wrap: nowrap, @align-items: center) {
    display: flex;
    flex-direction: @flex-direction;
    flex-wrap: @flex-wrap;
    align-items: @align-items;
} */
// loop out some flex utility classes (flex-1 to flex-24)
/* .flex-elements(@n, @i: 1) when (@i =< @n) {
    .flex-@{i} {
        flex: @i;
    }
    .flex-elements(@n, (@i + 1));
}
.flex-elements(24);
[class*="flex-"] {
    min-width: 0;
} */
.flex-bust {
    flex: 0 0 100%;
}
.split { // splits flexed elements into left/right (only-children shift to right side)
    margin-left: auto !important;
}
.scroll {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: scrollbar;
    overflow-x: hidden;
    overflow-y: auto;
}
/* .user-image(@size: 2em) {
    width: @size;
    height: @size;
    flex: 0 0 @size;
    border-radius: 20%;
    overflow: hidden;
    line-height: 1em;
    background-image: url("images/user_circle.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.2)
} */
