
// fonts
@import "//fonts.googleapis.com/css?family=Muli:300,400|Roboto:300,400,700";

.muli {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}
.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.slider {
    background-color: #fff;
    border-left: 1px solid #678;
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40vw;
    padding: 8rem 2rem 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    z-index: 5;
    .actions {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 1em;
        padding-bottom: 3em;
        flex-wrap: wrap;
        justify-content: center;
        > * {
            flex: 1;
            min-width: 40%;
            margin: 0 0.5em;
        }
    }
}
.input-group {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    label,
    input,
    textarea {
        padding: 0.5rem;
    }
    input,
    textarea {
        border: 0;
        background-color: #fff;
        transition: color 250ms ease-in-out,
                    background-color 250ms ease-in-out,
                    border-color 250ms ease-in-out;
        &:focus {
            outline: none;
            background-color: rgba(255, 232, 255, 0.5);
        }
    }
    input {
        font-size: 1.1em;
        border-bottom: 1px solid #768;
        &:focus {
            border-color: #083d77;
        }
    }
    textarea {
        font-size: 0.85em;
    }
}
.btn {
    a {
        transition: color 250ms ease-in-out,
                    background-color 250ms ease-in-out;
        border-radius: 0.15rem;
        padding: 0.5rem;
        display: inline-block;
        border: 2px solid;
        color: #fff;
        &:hover {
            background-color: lighten(#083d77, 15%);
        }
    }
}
.jumbo {
    padding: 2em 0;
    p {
        color: #083d77;
        font-size: 1.25em;
        font-weight: 400;
    }
}
.tab-group {
    display: flex;
    padding: 1em 0 0.5em;
    > * {
        + * {
            margin-left: 1em;
        }
    }
}
.tab {
    padding: 0.5em;
    border: 1px solid #675;
    border-bottom: none;
    &.active {
        border-color: #083d77;
    }
    p:first-of-type {
        margin-bottom: 0;
    }
}
